body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
 
  display: flex;
  align-items: center;
  justify-content: center;
}

#middlediv {
  position: relative;
  width: 100%;
  height: 100%;
  border: 3px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameCanvas, #ufoCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameCanvas {
  width: 500px; /* set the desired width */
  height: 400px; /* set the desired height */
  border: 3px solid black;
  /* background-color: rgba(133, 11, 11, 0.5); */
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(12, 13, 28, 0)), url(/images/background-images/forest.jpeg);
}

#ufoCanvas {
  width: 500px;
  height: 200px;
  background-color: transparent;
  z-index: 3;
  position: absolute;
  top: 0; /* keep it at the top */
  left: 50%;
  transform: translateX(-50%);
}
#frontCanvas {
	width: 1024px;
	height: 1024px;
	/* background-color: rgba(133, 11, 11, 0.5); */
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(12, 13, 28, 0)), url(/images/background-images/trees-front.png);
	z-index: 4;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid rgb(255, 0, 0);
}
#middlediv:hover {
  background: linear-gradient(rgb(25, 47, 155), rgb(57, 57, 109));
  transition: background-color 2000ms ease-in-out;
}

#middlediv:not(:hover) {
  background: linear-gradient(rgb(25, 47, 155), rgb(11, 11, 31));
  transition: background-color 2000ms ease-in-out;
}

button {
  width: 100px;
  height: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  left: 50%;
  position: absolute;
}

button:hover {
  border: 4px solid red;
  transition: border 1000ms ease-in-out;
}
