body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(17, 42, 57);
}
#gameCanvas, #ufoCanvas, #buttonsCanvas, #gameOverCanvas, #frontCanvas, #groundCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height:1024px;
}
#maindiv {
	position: relative;
	width: 600px;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(17, 42, 33);
}

#wrapperDiv {
  position: relative;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameCanvas, #ufoCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameCanvas {
  width: 0;
  height: 0;
  border: 3px solid rgb(0, 0, 0);

}

#groundCanvas {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: none;
	z-index: 6;
}

#ufoCanvas {
  width: 0;
  height: 0;
  background-color: transparent;
  z-index: 4;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid black;
}

#frontCanvas {
  width: 0;
  height: 0;
  background-image: url(./images/background-images/trees-front.png);
  z-index: 2;
  position: absolute;
  top: 50.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#buttonsCanvas {
  width: 350px;
  height: 200px;
  background-color: transparent;
  z-index: 4;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    transition: background-color 0.3s ease, border 0.3s ease;
}

#gameOverCanvas {
  background-color: transparent;
  z-index: 4;
  border: none;

}

#buttonsCanvas:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Change background color on hover */
  border: 2px solid white; /* Add a white border on hover */
}

#maindiv:hover {
  background-color: rgb(6, 18, 27);
  transition: background 1000ms ease-in-out;
}

#maindiv:not(:hover) {
  background-color: rgb(14, 38, 56);
  transition: background 1000ms ease-in-out;
}



button:hover {
  border: 4px solid red;
  transition: border 1000ms ease-in-out;
}

#gameCanvas.shadow {
  filter: brightness(0.3);
  transition: filter 0.5s ease;
}

/* ---------- MOBILE ----------- */

@media (max-width: 768px) {
  #gameCanvas {
      background-image: url(./images/background-images/forest-mobile.jpg);
      background-size: cover; /* Ensure the background image covers the entire canvas */
      background-position: center; /* Center the background image */
      background-repeat: no-repeat; /* Prevent background image from repeating */
  }

  #wrapperDiv, 
  #gameCanvas, 
  #ufoCanvas, 
  #frontCanvas {

      border: none;
      box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
  }
  
  #ufoCanvas {
      top: 0; 
      left: 50%;
      transform: translateX(-50%);
  }
  
  #frontCanvas {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 3px solid red;
  }
  
  #maindiv:hover,
  #maindiv:not(:hover) {
      background: none;
  }
}