body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#maindiv {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#wrapperDiv {
  position: relative;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameCanvas, #ufoCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameCanvas {
  width: 0;
  height: 0;
  border: 3px solid black;
  background-image: url(./images/background-images/forest.jpeg);
}

#groundCanvas {
	position: absolute;
	display: block;
	width: 0;
	height: 160px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: green;
	z-index: 6;
}

#ufoCanvas {
  width: 0;
  height: 0;
  background-color: transparent;
  z-index: 4;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid black;
}

#frontCanvas {
  width: 0;
  height: 0;
  background-image: url(./images/background-images/trees-front.png);
  z-index: 2;
  position: absolute;
  top: 50.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#maindiv:hover {
  background-color: rgb(6, 18, 27);
  transition: background 1000ms ease-in-out;
}

#maindiv:not(:hover) {
  background-color: rgb(14, 38, 56);
  transition: background 1000ms ease-in-out;
}

button {
  width: 100px;
  height: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  left: 50%;
  position: absolute;
}

button:hover {
  border: 4px solid red;
  transition: border 1000ms ease-in-out;
}

#gameCanvas.shadow {
  filter: brightness(0.3);
  transition: filter 0.5s ease;
}

/* ---------- MOBILE ----------- */

@media (max-width: 768px) {
  #gameCanvas {
      background-image: url(./images/background-images/forest-mobile.jpg);
      background-size: cover; /* Ensure the background image covers the entire canvas */
      background-position: center; /* Center the background image */
      background-repeat: no-repeat; /* Prevent background image from repeating */
  }

  #wrapperDiv, 
  #gameCanvas, 
  #ufoCanvas, 
  #frontCanvas {

      border: none;
      box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
  }
  
  #ufoCanvas {
      top: 0; 
      left: 50%;
      transform: translateX(-50%);
  }
  
  #frontCanvas {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 3px solid red;
  }
  
  #maindiv:hover,
  #maindiv:not(:hover) {
      background: none;
  }
}