body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(23, 23, 73);
}
body {
    display: none;
}


#middlediv {
    width : inherit;
    height : inherit;
	background-color: blueviolet;
	transition: background-color 1000ms ease-in-out;
}

#gameCanvas {
    display: none;
    margin: 0 auto;
    width: 1200px;
    height: 950px;
    border: 5px solid black;
    /* background-color: rgb(64, 26, 26); */
    /*Backgroundissa voi olla useampia layereita: */
    background: linear-gradient(
         rgba(243, 243, 243, 0), rgba(78, 94, 236, 0))
    , url(/images/background-images/forest.jpeg);
}

#middlediv:hover {
    background-color: blue;
    transition: background-color 1000ms ease-in-out;
}
#middlediv:not(:hover) {
    background-color: rgb(48, 41, 54);
    transition: background-color 1000ms ease-in-out;
}
button {
    width: 100px;
    height: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 50%;
    position: absolute;
}
button:hover {
    border: 4px solid red;
    transition: border 1000ms ease-in-out;
}
